<div id="carte-product" ng-controller="CarteProductCtrl">
	<div class="header">
		<div class="nav-left">
			<a ng-click="backToProductList()"><i class="fa fa-arrow-left fa-22px"></i></a>
		</div>
		<div class="title">
			Carte
		</div>
	</div>
	<div image-rotor image-url="imageUrl"></div>
	<div class="product-description">
		<div id="title">
			<ul class="listview">
				<li><div class="row"><a><div product-description product="product"></div></a></div></li>
			</ul>
			<p>
				{{product.DESCRIPTION}}
			</p>
		</div>
		<div id="description"></div>
		<div class="product-order">
			<div order-counter element="product">
				<a ng-click="toogleFavorite()"> <i ng-hide="isFavorite()" class="fa fa-heart-o fa-40px"></i> <i ng-show="isFavorite()" class="fa fa-heart fa-40px"></i> </a>
				<a ng-click="goToOrder()"> <i class="fa fa-shopping-cart fa-40px"></i> </a>
			</div>
		</div>
	</div>
</div>