<div id="carte-product-list" ng-controller="CarteProductListCtrl">
	<div class="header">
		<div class="nav-left"><a ng-click="backToCategory()"><i class="fa fa-arrow-left fa-22px"></i></a></div>
		<div class="title">{{categoryTitle}}</div>
	</div>
	<div image-rotor image-url="imageUrl">
		<div class="product-order">
			<div order-counter element="selectedProduct">
				<a ng-click="goToOrder()">
					<i class="fa fa-shopping-cart fa-30px"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="product-list" ng-iscroll="wrapper" ng-model="selectedElement">
		<div id="scroller">
			<ul class="listview">
				<li ng-repeat="prod in products" id="{{prod.PRODUCT_ID}}" last-repeat>
					<a ng-click="displayProduct(prod.PRODUCT_ID)">
						<div class="row">
							<div class="col-right-icon">
								<i class="fa fa-chevron-right"></i>
							</div>
							<div class="bubble">
							    <span ng-hide="getQuantity(prod.PRODUCT_ID)==0">{{getQuantity(prod.PRODUCT_ID)}}</span>
							</div>
							<div class="col100 has-2-right-icon">
								<div product-description product="prod"></div>
							</div>
						</div>
					</a>
				</li>
			</ul>
			<div class="gap"></div>
		</div>
	</div>
</div>