<div class="space-top" ng-controller="EntranceCtrl">
	<div ng-show="displayLogin">
		<form>
			<div class="space-full">
				<div class="form-group">
					<div class="row">
						<input type="text" id="login" ng-model="profil.LOGIN" placeholder="Login">
					</div>
					<div class="row">
						<input type="password" id="password" ng-model="profil.PASSWORD" placeholder="Mot de passe">
					</div>
				</div>
			</div>
			<div class="space-hz">
				<a class="btn btn-rounded" ng-click="login()"><i class="fa fa-sign-in"></i> Login </a>
			</div>
		</form>
	</div>
</div>