<div class="favorite-list" ng-controller="FavoriteListCtrl">
	<div class="header">
		<div class="nav-left">
			<a ng-click="showMenu()"><i class="fa fa-bars fa-22px"></i></a>
		</div>
		<div class="title">
			FAVORIS
		</div>
	</div>
	<div class="favorite-empty" ng-show="isFavoriteEmpty()">
		<i class="fa fa-heart-o fa-4x"></i>
		<p>
			Vous n'avez pas de favoris
		</p>
	</div>
	<div ng-hide="isFavoriteEmpty()">
		<div image-rotor image-url="imageUrl">
			<div class="product-order">
				<div order-counter element="selectedProduct">
					<a ng-click="goToOrder()"> <i class="fa fa-shopping-cart fa-30px"></i> </a>
				</div>
			</div>
		</div>
		<div class="product-list" ng-iscroll="wrapper" ng-model="selectedElement">
			<div id="scroller">
				<ul class="listview">
					<li ng-repeat="prod in products" id="{{prod.PRODUCT_ID}}" last-repeat>
						<div class="row">
							<div class="col-right-icon">
								<i class="fa fa-chevron-right"></i>
							</div>
							<div class="bubble">
							    <span ng-hide="getQuantity(prod.PRODUCT_ID)==0">{{getQuantity(prod.PRODUCT_ID)}}</span>
							</div>
							<div class="col100 has-2-right-icon">
								<div product-description product="prod"></div>
							</div>
						</div>
					</li>
				</ul>
				<div class="gap"></div>
			</div>
		</div>
	</div>
</div>