<div ng-controller="LoginCtrl">
	<div class="header">
		<div class="nav-left">
			<a ng-click="showMenu()"><i class="fa fa-bars fa-22px"></i></a>
		</div>
		<div class="title">
			Login
		</div>
	</div>
	<form>
		<div class="space-full">
			<div class="form-group">
				<div class="row">
					<input type="text" id="login" ng-model="profil.PHONE_NUM" placeholder="Numéro de téléphone">
				</div>
				<div class="row">
					<input type="password" id="password" ng-model="profil.PASSWORD" placeholder="Mot de passe">
				</div>
				<div class="row" ng-show="newUser">
					<input type="password" id="confirm-password" ng-model="confirmPwd" placeholder="Confirmer Mot de passe">
				</div>
				<div class="row">
					<label class="topcoat-checkbox">
						<input type="checkbox" id="new-user" ng-model="newUser">
						<div class="topcoat-checkbox__checkmark"></div>
						Je suis nouveau
					</label>
				</div>
			</div>
		</div>
		<div class="space-hz">
			<a class="btn btn-rounded" ng-click="login()"><span ng-hide="newUser"><i class="fa fa-sign-in"></i> Login</span><span ng-show="newUser">Créer mon profil</span></a>
		</div>
	</form>
</div>