<div ng-controller="OrderStep3Ctrl">

	<div class="header">
		<div class="nav-left">
			<a ng-click="backToStep2()"><i class="fa fa-arrow-left fa-22px"></i></a>
		</div>
		<div class="title">
			COMMANDE
		</div>
	</div>

	<div class="space-full">
		<div class="styled-select">
			<select ng-model="selectedDay" name="select-day" id="select-day" data-native-menu="false" ng-change="setSelectedDay()">
				<option value="0">Aujourd'hui</option>
				<option value="1">Demain</option>
				<option value="2">Après demain</option>
			</select>
		</div>
	</div>

	<div class="space-hz">
		<div class="styled-select">
			<select ng-model="selectedTime" name="select-time" id="select-time" data-native-menu="false" ng-change="setSelectedTime()" ng-options="opt.LABEL for opt in timeList"></select>
		</div>
	</div>
	
	<div class="space-full">
		<a class="btn btn-rounded" ng-click="validate()"><i class="fa fa-check"></i> Envoyer </a>
	</div>
</div>