<div ng-controller="OrderDetailsCtrl">
	<div class="empty space-top" ng-show="isOrderEmpty()">
		<i class="fa fa-shopping-cart fa-4x"></i>
		<p>
			Veuillez sélectionner au moins un plat avant de passer commande
		</p>
	</div>
	<div ng-hide="isOrderEmpty()">
		<ul class="listview">
			<li ng-repeat="prod in products">
				<div class="row">
					<div class="col-left-img">
						<img ng-src="{{imageUrl}}"/>
					</div>
					<div class="col100 has-right-icon has-left-img">
						<a>
							<div>
								{{prod.NAME}}
							</div>
							<div class="btn-group">
								<a class="btn btn-default" ng-tap="removeOne(prod.ID)">&nbsp;<i class="fa fa-minus"></i>&nbsp;</a>
								<a class="btn btn-default">&nbsp;{{getQuantity(prod.ID)}}&nbsp;</a>
								<a class="btn btn-default" ng-tap="addOne(prod.ID)">&nbsp;<i class="fa fa-plus"></i>&nbsp;</a>
							</div>
							<div>
								{{prod.PIECES}} pièces, {{prod.PRICE | currency:'€'}}
							</div>
							<div ng-hide="getQuantity(prod.ID)==0">
								{{getQuantity(prod.ID)}}
							</div>
						</a>
					</div>
					<div class="col-right-icon">
						<a ng-tap="removeAll(prod.ID)"><i class="fa fa-times"></i></a>
					</div>
				</div>
			</li>
			<li>
				Nombre de produits : {{getTotalQuantity()}}
			</li>
			<li>
				Nombre de pièces : {{getTotalPieces()}}
			</li>
			<li>
				Total : {{getTotalMoney() | currency:'€'}}
			</li>
		</ul>
		<br/>
		<div class="btn-group btn-group-justified">
			<a class="btn btn-default" ng-tap="command()"> Commander... </a>
		</div>
	</div>
</div>