<div class="space-full" ng-controller="OrderCommandCtrl">
	<h3>Commande</h3>
	<p>
		Choisissez votre type de commande
	</p>

	<div class="btn-group btn-group-justified">
		<a class="btn btn-default" ng-tap="setDelivery(true)" ng-class="{'active': isDelivery}"><i class="fa fa-truck"></i> Livraison</a>
		<a class="btn btn-default" ng-tap="setDelivery(false)" ng-class="{'active': !isDelivery}"><i class="fa fa-home"></i> A emporter</a>
	</div>

	<div ng-show="isDelivery">

		<p>
			Vous souhaitez être livré
		</p>
		<div class="btn-group btn-group-justified">
			<a class="btn btn-default" ng-tap="pickProfilAddress()">
			<div ng-show="selectedProfilAddress==null">
				Choisissez votre addresse
			</div>
			<div ng-hide="selectedProfilAddress==null">
				<div>
					{{selectedProfilAddress.STREET_NAME}} <span ng-show="isStreetName2Null(selectedProfilAddress)">{{selectedProfilAddress.STREET_NB}} {{selectedProfilAddress.BELL}}</span>
				</div>
				<div ng-hide="isStreetName2Null(selectedProfilAddress)">
					{{selectedProfilAddress.STREET_NAME2}} {{selectedProfilAddress.STREET_NB}} {{selectedProfilAddress.BELL}}
				</div>
				<div>
					{{selectedProfilAddress.POSTCODE}} {{selectedProfilAddress.CITY}}
				</div>
			</div> </a>
		</div>
	</div>
	<div ng-hide="isDelivery">

		<p>
			Vous souhaitez retirer votre commande
		</p>
		
		<div class="btn-group btn-group-justified">
			<a class="btn btn-default" ng-tap="pickShopAddress()">
			<div ng-show="selectedShop==null">
				Choisissez un magasin
			</div>
			<div ng-hide="selectedShop==null">
				<div>
					{{selectedShop.NAME}}
				</div>
				<div>
					{{selectedShop.address.STREET_NAME}} <span ng-show="isStreetName2Null(address)">{{selectedShop.address.STREET_NB}} {{selectedShop.address.BELL}}</span>
				</div>
				<div ng-hide="isStreetName2Null(selectedShop.address)">
					{{selectedShop.address.STREET_NAME2}} {{selectedShop.address.STREET_NB}} {{selectedShop.address.BELL}}
				</div>
				<div>
					{{selectedShop.address.POSTCODE}} {{selectedShop.address.CITY}}
				</div>
			</div> </a>
		</div>
	</div>

	<div class="space-vt">
		<select ng-model="selectedDay" name="select-day" id="select-day" data-native-menu="false" ng-change="setSelectedDay()">
			<option value="0">Aujourd'hui</option>
			<option value="1">Demain</option>
			<option value="2">Après demain</option>
		</select>
	</div>

	<select ng-model="selectedTime" name="select-time" id="select-time" data-native-menu="false" ng-options="opt.LABEL for opt in timeList">

	</select>

	<div class="btn-group btn-group-justified space-vt">
		<a class="btn btn-primary" ng-tap="validate()"><i class="fa fa-check"></i> Envoyer </a>
	</div>
</div>