<div class="order-step1" ng-controller="OrderStep1Ctrl">
	<div class="header">
		<div class="nav-left">
			<a ng-click="showMenu()"><i class="fa fa-bars fa-22px"></i></a>
		</div>
		<div class="title">
			COMMANDE
		</div>
	</div>
	<div class="order-empty" ng-show="isOrderEmpty()">
		<i class="fa fa-shopping-cart fa-4x"></i>
		<p>
			Veuillez sélectionner au moins un plat avant de passer commande
		</p>
	</div>
	<div ng-hide="isOrderEmpty()">
		<ul class="listview">
			<li ng-repeat="prod in products">
				<div class="row">
					<div class="col100">
						<div product-description product="prod"></div>
						<div order-counter element="prod">
							<a ng-click="goToProduct(prod.PRODUCT_ID)">
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-search fa-stack-1x"></i>
								</span>
							</a>
							<a ng-click="removeAll(prod.PRODUCT_ID)">
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-times fa-stack-1x"></i>
								</span>
							</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="product-description-price">
						{{getTotalQuantity()}} pcs | {{getTotalMoney() | currency:'€'}}
					</div>
					<div class="product-description-name">
						Total
					</div>
				</div>
			</li>
		</ul>
		<br/>
		<div class="space-hz">
			<a class="btn btn-rounded" ng-click="command()"> Commander... </a>
		</div>
	</div>
</div>