<div ng-controller="PickShopAddressCtrl">
	<h3> Choisissez une adresse : </h3>
	<ul class="listview">
		<li ng-repeat="shop in shops">
			<div class="row">
				<a ng-click="selectAddress(shop)">
					<div>
						{{shop.NAME}}
					</div>
					<div>
						{{shop.address.STREET_NAME}} <span ng-show="isStreetName2Null(shop.address)">{{shop.address.STREET_NB}} {{shop.address.BELL}}</span>
					</div>
					<div ng-hide="isStreetName2Null(shop.address)">
						{{shop.address.STREET_NAME2}} {{shop.address.STREET_NB}} {{shop.address.BELL}}
					</div>
					<div>
						{{shop.address.POSTCODE}} {{shop.address.CITY}}
					</div>
				</a>
			</div>
		</li>
	</ul>
</div>