<div ng-controller="PickShopAddressCtrl">
	<ul data-role="listview">
		<li>
			Choisissez une adresse :
		</li>
		<li ng-repeat="shop in shops">
			<a ng-tap="selectAddress(address)">
				<p>{{shop.NAME}}</p>
				<p>{{shop.address.STREET_NAME}} <span ng-show="isStreetName2Null(shop.address)">{{shop.address.STREET_NB}} {{shop.address.BELL}}</span></p>
				<p ng-hide="isStreetName2Null(shop.address)">{{shop.address.STREET_NAME2}} {{shop.address.STREET_NB}} {{shop.address.BELL}}</p>
				<p>{{shop.address.POSTCODE}} {{shop.address.CITY}}</p>
			</a>
		</li>
	</ul>
</div>