<div ng-controller="ProfilUpdateCtrl" class="space-top">
	<form class="form-horizontal" role="form">
		<div class="space-full">
			<div class="form-group">
				<div class="row">
					<input type="text" class="form-control" id="prenom" ng-model="profil.PRENOM" placeholder="Prénom">
				</div>
				<div class="row">
					<input type="text" class="form-control" id="nom" ng-model="profil.NOM" placeholder="Nom">
				</div>
				<div class="row">
					<input type="text" class="form-control" id="prenom" ng-model="profil.EMAIL" placeholder="E-mail">
				</div>
				<div class="row">
					<input type="text" class="form-control" id="prenom" ng-model="profil.PHONE_NUM" placeholder="N° de téléphone">
				</div>
			</div>
		</div>
		<div class="space-hz btn-group">
		  <a class="btn btn-rounded" ng-click="validProfil()"><i class="fa fa-check"></i> Modifier</a>
		  <a class="btn btn-rounded" ng-click="close()"><i class="fa fa-times"></i> Annuler</a>
		</div>
	</form>
</div>