<div ng-controller="ProfilCtrl">
	<h3>Profil :</h3>
	<ul class="listview">
		<li>
			<a ng-tap="displayUpdateProfil()">
			<div class="row">
				<div class="col-right-icon">
					<i class="fa fa-edit"></i>
				</div>
				<div class="col100 has-right-icon">
					<div class="row">
						<div class="col-sm-3">
							Nom:
						</div>
						<div class="col-sm-9">
							{{profil.PRENOM}} {{profil.NOM}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							E-mail:
						</div>
						<div class="col-sm-9">
							{{profil.EMAIL}}
						</div>
					</div>
				</div>
			</div> </a>
		</li>
		<li>
			<a ng-tap="displayUpdatePassword()">
				<div class="row">
					<div class="col-right-icon">
						<i class="fa fa-edit"></i>
					</div>
					<div class="col100 has-right-icon">
						<div class="row">
							<div class="col-sm-6">
								Mot de passe:
							</div>
							<div class="col-sm-6">
								**********
							</div>
						</div>
					</div>
				</div>
			</a>
		</li>
	</ul>
	<h3>Adresses :</h3>
	<ul class="listview">
		<li ng-repeat="address in profil.addresses">
			<div class="row">
				<div class="col-right-icon">
					<a ng-tap="removeAddress(address.ID)"><i class="fa fa-times"></i></a>
				</div>
				<div class="col100 has-right-icon">
					<a ng-tap="displayUpdateAddress(address)">
						<div>
							{{address.STREET_NAME}} <span ng-show="isStreetName2Null(address)">{{address.STREET_NB}} {{address.BELL}}</span>
						</div>
						<div ng-hide="isStreetName2Null(address)">
							{{address.STREET_NAME2}} {{address.STREET_NB}} {{address.BELL}}
						</div>
						<div>
							{{address.POSTCODE}} {{address.CITY}}
						</div>
					</a>
				</div>
			</div>
		</li>
	</ul>
	
	<div class="btn-group btn-group-justified space-full">
		<a class="btn btn-primary" ng-tap="displayUpdateAddress(null)"><i class="fa fa-plus"></i> Ajouter une adresse </a>
	</div>
</div>