<div ng-controller="ProfilUpdatePasswordCtrl">
	<form class="form-horizontal" name="form">
		<div class="space-full">
			<div class="form-group">
				<div class="row">
					<input type="password" id="old-password" ng-model="password.OLDPWD" placeholder="Ancien Mot de passe">
				</div>
				<div class="row">
					<input type="password" name="newPassword" id="new-password" ng-model="password.NEWPWD" placeholder="Nouveau mot de passe" ng-minlength="5">
					<span class="error" ng-show="form.newPassword.$error.minlength">Mot de passe trop court</span><br>
				</div>
				<div class="row">
					<input type="password" id="confirm-password" ng-model="password.CONFIRMPWD" placeholder="Confirmer mot de passe">
				</div>
			</div>
		</div>
		<div class="space-hz btn-group">
			<a class="btn btn-rounded" ng-click="validPassword()"><i class="fa fa-check"></i> Modifier</a>
			<a class="btn btn-rounded" ng-click="close()"><i class="fa fa-times"></i> Annuler</a>
		</div>
	</form>
</div>