<div class="shop" ng-controller="ShopCtrl">
	<div class="header">
		<div class="nav-left"><a ng-click="backToShopList()"><i class="fa fa-arrow-left fa-22px"></i></a></div>
		<div class="title">BOUTIQUES</div>
	</div>
	
	<div map lat="shop.LAT" lng="shop.LNG"></div>
	
	<ul class="listview">
		<li>
			<div class="row">
				<div class="col100">
	                <div class="shop-name">{{shop.NAME}}</div>
	                <div class="address">
	                	{{shop.address.STREET_NAME}} {{shop.address.STREET_NB}}<br/>
			    		{{shop.address.POSTCODE}} {{shop.address.CITY}}
			    	</div>
	                <div class="shop-dist">{{getDistance(shop.address)}}</div>
	            </div>
		    </div>
		</li>
	</ul>
    <p>
    	<span class="day">Lundi:</span><span class="schedule">{{getSchedule('day0')}}</span><br/>
    	<span class="day">Mardi:</span><span class="schedule">{{getSchedule('day1')}}</span><br/>
    	<span class="day">Mercredi:</span><span class="schedule">{{getSchedule('day2')}}</span><br/>
    	<span class="day">Jeudi:</span><span class="schedule">{{getSchedule('day3')}}</span><br/>
    	<span class="day">Vendredi:</span><span class="schedule">{{getSchedule('day4')}}</span><br/>
    	<span class="day">Samedi:</span><span class="schedule">{{getSchedule('day5')}}</span><br/>
    	<span class="day">Dimanche:</span><span class="schedule">{{getSchedule('day6')}}</span><br/>
    </p>
</div>