<div class="shop-list" ng-controller="ShopListCtrl">
	<div class="header">
		<div class="nav-left"><a ng-click="showMenu()"><i class="fa fa-bars fa-22px"></i></a></div>
		<div class="title">BOUTIQUES</div>
	</div>
	<ul class="listview">
		<li ng-repeat="shop in shops">
			<div class="row">
				<a ng-click="selectShop(shop.SHOP_ID)">
					<div class="col-right-icon">
						<i class="fa fa-chevron-right"></i>
					</div>
					<div class="col100">
		                <div class="shop-name">{{shop.NAME}}</div>
		                <div class="shop-tel">Tel: {{shop.TELEPHONE}}</div>
		                <div class="shop-tel">GSM: {{shop.GSM}}</div>
		                <div class="shop-dist">{{getDistance(shop.address)}}</div>
		            </div>
		        </a>
            </div>
		</li>
	</ul>
</div>
