<div ng-controller="ShopListCtrl">
	<div class="header">
		<div class="nav-left"><a ng-click="showMenu()"><i class="fa fa-bars fa-22px"></i></a></div>
		<div class="title">BOUTIQUES</div>
	</div>
	<ul class="listview">
		<li ng-repeat="shop in shops">
			<div class="row">
				<a ng-click="selectShop(shop.ID)">
					<div class="col-right-icon">
						<i class="fa fa-chevron-circle-right"></i>
					</div>
					<div class="col100">
		                <div><strong>{{shop.NAME}}</strong></div>
		                <div>{{shop.address.STREET_NAME}} {{shop.address.STREET_NB}}</div>
		                <div>{{shop.address.POSTCODE}} {{shop.address.CITY}}</div>
		                <div class="ui-li-aside">2 KM</div>
		            </div>
		        </a>
            </div>
		</li>
	</ul>
</div>
